[submodule "src/github.com/spf13/viper"]
	path = src/github.com/spf13/viper
	url = https://github.com/spf13/viper
[submodule "src/github.com/urfave/cli"]
	path = src/github.com/urfave/cli
	url = https://github.com/urfave/cli
[submodule "src/github.com/vivint/infectious"]
	path = src/github.com/vivint/infectious
	url = https://github.com/vivint/infectious
[submodule "src/github.com/golang/protobuf"]
	path = src/github.com/golang/protobuf
	url = https://github.com/golang/protobuf
[submodule "src/github.com/zeebo/admission"]
	path = src/github.com/zeebo/admission
	url = https://github.com/zeebo/admission
[submodule "src/github.com/go-redis/redis"]
	path = src/github.com/go-redis/redis
	url = https://github.com/go-redis/redis
[submodule "src/github.com/gogo/protobuf"]
	path = src/github.com/gogo/protobuf
	url = https://github.com/gogo/protobuf
[submodule "src/github.com/boltdb/bolt"]
	path = src/github.com/boltdb/bolt
	url = https://github.com/boltdb/bolt
[submodule "src/github.com/julienschmidt/httprouter"]
	path = src/github.com/julienschmidt/httprouter
	url = https://github.com/julienschmidt/httprouter
[submodule "src/github.com/zeebo/errs"]
	path = src/github.com/zeebo/errs
	url = https://github.com/zeebo/errs
[submodule "src/github.com/tyler-smith/go-bip39"]
	path = src/github.com/tyler-smith/go-bip39
	url = https://github.com/tyler-smith/go-bip39
[submodule "src/github.com/zeebo/incenc"]
	path = src/github.com/zeebo/incenc
	url = https://github.com/zeebo/incenc
[submodule "src/github.com/zeebo/float16"]
	path = src/github.com/zeebo/float16
	url = https://github.com/zeebo/float16
[submodule "src/github.com/spacemonkeygo/errors"]
	path = src/github.com/spacemonkeygo/errors
	url = https://github.com/spacemonkeygo/errors
[submodule "src/github.com/spf13/pflag"]
	path = src/github.com/spf13/pflag
	url = https://github.com/spf13/pflag
[submodule "src/github.com/spf13/cast"]
	path = src/github.com/spf13/cast
	url = https://github.com/spf13/cast
[submodule "src/github.com/spf13/afero"]
	path = src/github.com/spf13/afero
	url = https://github.com/spf13/afero
[submodule "src/github.com/pelletier/go-toml"]
	path = src/github.com/pelletier/go-toml
	url = https://github.com/pelletier/go-toml
[submodule "src/github.com/mitchellh/mapstructure"]
	path = src/github.com/mitchellh/mapstructure
	url = https://github.com/mitchellh/mapstructure
[submodule "src/github.com/hashicorp/hcl"]
	path = src/github.com/hashicorp/hcl
	url = https://github.com/hashicorp/hcl
[submodule "src/github.com/magiconair/properties"]
	path = src/github.com/magiconair/properties
	url = https://github.com/magiconair/properties
[submodule "src/github.com/fsnotify/fsnotify"]
	path = src/github.com/fsnotify/fsnotify
	url = https://github.com/fsnotify/fsnotify
[submodule "src/github.com/spf13/jwalterweatherman"]
	path = src/github.com/spf13/jwalterweatherman
	url = https://github.com/spf13/jwalterweatherman
[submodule "src/golang.org/x/crypto"]
	path = src/golang.org/x/crypto
	url = https://github.com/golang/crypto
[submodule "src/golang.org/x/sys"]
	path = src/golang.org/x/sys
	url = https://github.com/golang/sys
[submodule "src/golang.org/x/text"]
	path = src/golang.org/x/text
	url = https://github.com/golang/text
[submodule "src/golang.org/x/net"]
	path = src/golang.org/x/net
	url = https://github.com/golang/net
[submodule "src/gopkg.in/spacemonkeygo/monkit.v2"]
	path = src/gopkg.in/spacemonkeygo/monkit.v2
	url = https://github.com/spacemonkeygo/monkit
[submodule "src/go.uber.org/zap"]
	path = src/go.uber.org/zap
	url = https://github.com/uber-go/zap
[submodule "src/go.uber.org/atomic"]
	path = src/go.uber.org/atomic
	url = https://github.com/uber-go/atomic
[submodule "src/go.uber.org/multierr"]
	path = src/go.uber.org/multierr
	url = https://github.com/uber-go/multierr
[submodule "src/github.com/spacemonkeygo/monotime"]
	path = src/github.com/spacemonkeygo/monotime
	url = https://github.com/spacemonkeygo/monotime
[submodule "src/gopkg.in/yaml.v2"]
	path = src/gopkg.in/yaml.v2
	url = https://github.com/go-yaml/yaml
[submodule "src/google.golang.org/grpc"]
	path = src/google.golang.org/grpc
	url = https://github.com/grpc/grpc-go
[submodule "src/google.golang.org/genproto"]
	path = src/google.golang.org/genproto
	url = https://github.com/google/go-genproto
[submodule "src/github.com/stretchr/testify"]
	path = src/github.com/stretchr/testify
	url = https://github.com/stretchr/testify
[submodule "src/github.com/minio/minio"]
	path = src/github.com/minio/minio
	url = https://github.com/minio/minio
[submodule "src/github.com/minio/cli"]
	path = src/github.com/minio/cli
	url = https://github.com/minio/cli
[submodule "src/github.com/google/uuid"]
	path = src/github.com/google/uuid
	url = https://github.com/google/uuid.git
[submodule "src/github.com/aleitner/FilePiece"]
	path = src/github.com/aleitner/FilePiece
	url = https://github.com/aleitner/FilePiece
[submodule "src/github.com/mattn/go-sqlite3"]
	path = src/github.com/mattn/go-sqlite3
	url = https://github.com/mattn/go-sqlite3
[submodule "src/github.com/spacemonkeygo/flagfile"]
	path = src/github.com/spacemonkeygo/flagfile
	url = https://github.com/spacemonkeygo/flagfile
[submodule "src/github.com/mr-tron/base58"]
	path = src/github.com/mr-tron/base58
	url = https://github.com/mr-tron/base58
[submodule "src/github.com/anacrolix/utp"]
       path = src/github.com/anacrolix/utp
       url = https://github.com/anacrolix/utp.git
[submodule "github.com/ccding/go-stun"]
       path = src/github.com/ccding/go-stun
       url = https://github.com/ccding/go-stun.git
[submodule "src/github.com/jbenet/go-base58"]
       path = src/github.com/jbenet/go-base58
       url = https://github.com/jbenet/go-base58.git
[submodule "src/github.com/anacrolix/missinggo"]
       path = src/github.com/anacrolix/missinggo
       url = https://github.com/anacrolix/missinggo.git
[submodule "src/github.com/anacrolix/sync"]
       path = src/github.com/anacrolix/sync
       url = https://github.com/anacrolix/sync.git
[submodule "src/github.com/huandu/xstrings"]
       path = src/github.com/huandu/xstrings
       url = https://github.com/huandu/xstrings.git
[submodule "src/github.com/golang/mock"]
       path = src/github.com/golang/mock
       url = https://github.com/golang/mock
[submodule "src/github.com/jtolds/monkit-hw"]
       path = src/github.com/jtolds/monkit-hw
       url = https://github.com/jtolds/monkit-hw
[submodule "src/github.com/cloudfoundry/gosigar"]
       path = src/github.com/cloudfoundry/gosigar
       url = https://github.com/cloudfoundry/gosigar
[submodule "src/github.com/spacemonkeygo/spacelog"]
       path = src/github.com/spacemonkeygo/spacelog
       url = https://github.com/spacemonkeygo/spacelog

[submodule "src/github.com/spf13/cobra"]
	path = src/github.com/spf13/cobra
	url = https://github.com/spf13/cobra
[submodule "src/github.com/mitchellh/go-homedir"]
	path = src/github.com/mitchellh/go-homedir
	url = https://github.com/mitchellh/go-homedir
[submodule "src/github.com/coyle/kademlia"]
	path = src/github.com/coyle/kademlia
	url = https://github.com/coyle/kademlia.git
[submodule "src/github.com/gtank/cryptopasta"]
	path = src/github.com/gtank/cryptopasta
	url = https://github.com/gtank/cryptopasta

[submodule "src/github.com/alicebob/miniredis"]
	path = src/github.com/alicebob/miniredis
	url = https://github.com/alicebob/miniredis
[submodule "src/github.com/yuin/gopher-lua"]
	path = src/github.com/yuin/gopher-lua
	url = https://github.com/yuin/gopher-lua
[submodule "src/github.com/alicebob/gopher-json"]
	path = src/github.com/alicebob/gopher-json
	url = https://github.com/alicebob/gopher-json
[submodule "src/github.com/gomodule/redigo"]
	path = src/github.com/gomodule/redigo
	url = https://github.com/gomodule/redigo
[submodule "src/github.com/google/go-cmp"]
	path = src/github.com/google/go-cmp
	url = https://github.com/google/go-cmp
[submodule "src/github.com/loov/hrtime"]
	path = src/github.com/loov/hrtime
	url = https://github.com/loov/hrtime
[submodule "src/github.com/loov/plot"]
	path = src/github.com/loov/plot
	url = https://github.com/loov/plot
[submodule "src/github.com/minio/minio-go"]
	path = src/github.com/minio/minio-go
	url = https://github.com/minio/minio-go
[submodule "src/github.com/go-ini/ini"]
	path = src/github.com/go-ini/ini
	url = https://github.com/go-ini/ini
[submodule "src/github.com/cheggaaa/pb"]
	path = src/github.com/cheggaaa/pb
	url = https://github.com/cheggaaa/pb
[submodule "src/github.com/mattn/go-runewidth"]
	path = src/github.com/mattn/go-runewidth
	url = https://github.com/mattn/go-runewidth
[submodule "src/github.com/shirou/gopsutil"]
	path = src/github.com/shirou/gopsutil
	url = https://github.com/shirou/gopsutil
[submodule "src/github.com/grpc-ecosystem/go-grpc-middleware"]
	path = src/github.com/grpc-ecosystem/go-grpc-middleware
	url = https://github.com/grpc-ecosystem/go-grpc-middleware